doctype html
html
  head
    title Employee App
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 Employee Data Management
      nav
        a(href="/").anchor Home  
        a(href="/new").anchor Add Employee
    block content